<ons-page>
	<ons-toolbar>
		<div class="center">Mediathek</div>
	</ons-toolbar>
	<ons-list>
		<ons-list-header>
			Quelle
		</ons-list-header>
		<ons-list-item>
			<div class="center">
				MPD Mediathek
			</div>
			<label class="right">
				<ons-button ng-click="library_nav.pushPage('views/library-mpd.html')"><ons-icon icon="ion-ios-search-strong"></ons-icon></ons-button>
			</label>
		</ons-list-item>
		<ons-list-item>
			<div class="center">
				Song hochladen
			</div>
			<label class="right">
				<ons-button><ons-icon icon="ion-ios-cloud-upload"></ons-icon></ons-button>
			</label>
		</ons-list-item>
	</ons-list>
</ons-page>
