<ons-page ng-controller="libraryMpdCtl as page" ons-init="page.init($event)">
	<ons-toolbar>
		<div class="left"><ons-back-button>Zurück</ons-back-button></div>
		<div class="center">MPD Mediathek</div>
	</ons-toolbar>
	<ons-list>
		<ons-list-item>
			<ons-input placeholder="Suchen" ng-model="search" my-keyup="search_change(search)"></ons-input>
		</ons-list-item>
	</ons-list>
	<ons-list>
		<ons-list-item tappable modifier="longdivider" ng-repeat="res in searchlist" ng-click="select_song(res)">
			<div class="center" ng-bind="res.getDisplayName()">
			</div>
		</ons-list-item>
	</ons-list>
	<ons-bottom-toolbar>
	<ons-toolbar>
		<div class="left song-preview" ng-click="library_nav.pushPage('views/songview.html', {data: {navigator: library_nav}, animation: 'lift'})" ng-bind="currentSongName">
		</div>
		<div class="center song-preview-ctl" ng-click="setPlayback(!playing)">
			<ons-icon size="20px" icon="ion-play" ng-show="!playing"></ons-icon>
			<ons-icon size="20px" icon="ion-pause" ng-show="playing"></ons-icon>
		</div>
		<div class="right song-preview-ctl" ng-click="setPlaybackNext()">
			<ons-icon size="20px" icon="ion-skip-forward"></ons-icon>
		</div>
	</ons-toolbar>
	</ons-bottom-toolbar>
</ons-page>

