<ons-page ng-controller="playlistCtl">
	<h3>Playlist</h3>
	<ons-list>
		<ons-list-item modifier="longdivider" ng-repeat="song in playlist" ng-class="{playing: song.getId() == currentSong}">
			<div class="left">
				<ons-input type="checkbox"></ons-input>
			</div>
			<div class="center">
				<span class="list__item__title" ng-bind="song.getTitle()"></span>
				<span class="list__item__subtitle" ng-bind="song.getArtist()"></span>
			</div>
			<label class="right">
				<ons-icon icon="ion-drag" class="list__item__icon"></ons-icon>
			</label>
		</ons-list-item>
	</ons-list>
	<ons-bottom-toolbar>
 		<div class="left navigation-bar__left">
        	        <ons-icon icon="ion-skip-backward"></ons-icon>
        	</div>
        	<div class="center navigation-bar__center">
        	        <ons-icon icon="ion-play"></ons-icon>
        	</div>
        	<div class="right navigation-bar__right">
        	        <ons-icon icon="ion-skip-forward"></ons-icon>
        	</div>
	</ons-bottom-toolbar>
</ons-page>
